APP_NAME="Hirna Mobility Solutions"
APP_ENV=production
APP_KEY=base64:Si7TpMsNGYcjbLy7O5NJosGafRS33mu9xNlCtvMnXZo=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=sqlite
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=monterolorencemanuel@gmail.com
MAIL_PASSWORD=cysshidawcqyrloq
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=monterolorencemanuel@gmail.com
MAIL_FROM_NAME="Hirna Mobility Solutions"
DEMO_OTP_EMAIL=monterolorencemanuel@gmail.com
BREVO_API_KEY=your_brevo_api_key_here
RESEND_API_KEY=your_resend_api_key_here

