APP_NAME="Green GSM Fleet Management System"
APP_ENV=production
APP_KEY=base64:Si7TpMsNGYcjbLy7O5NJosGafRS33mu9xNlCtvMnXZo=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=sqlite
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
